awscli==1.16.132
backcall==0.1.0
botocore==1.12.122
certifi==2022.12.7
chardet==3.0.4
colorama==0.3.9
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.1
djangorestframework==3.9.4
docker==3.7.2
docker-pycreds==0.4.0
docutils==0.14
idna==2.8
ipdb==0.12
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
jmespath==0.9.4
kaggle==1.5.3
oauthlib==3.0.1
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pkg-resources==0.0.0
prompt-toolkit==2.0.9
psycopg2==2.8.2
ptyprocess==0.6.0
pyasn1==0.4.5
Pygments==2.4.0
PyJWT==1.7.1
python-dateutil==2.8.0
python-slugify==3.0.2
python3-openid==3.1.0
pytz==2019.1
PyYAML==3.13
redis==3.2.1
requests==2.21.0
requests-oauthlib==1.2.0
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
sqlparse==0.3.0
text-unidecode==1.2
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
websocket-client==0.56.0
